/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-weight: 900;
}

/* Variáveis globais */
:root {
  --color-fundo: #6e5c62;
  --color-normal: #4c4347;
  --color-selecionado: #8c7b83;
  --color-acerto: #3aa394;
  --color-quase: #d3ad69;
  --color-bloqueado: #605458;
}

/* Corpo da página */
body {
  background-color: var(--color-fundo);
}

/* Cabeçalho */
.head {
  text-align: center;
  color: white;
  margin: 1% 0 2%;
  font-size: 120%;
}

/* Contêiner de entrada */
.list-input-digit {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.row {
  display: flex;
  gap: 6px;
  justify-content: center;
}

.row div {
  width: 8vh;
  height: 8vh;
  background-color: var(--color-fundo);
  border: 6.5px solid var(--color-normal);
  border-radius: 8px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5rem; /* Aumenta a fonte */
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  /* Impede seleção de texto */
  cursor: pointer;
}

/* Selecionado */
.row div.selected {
  border-bottom-width: 15px; /* Deixa a borda inferior mais grossa */
}

/* Animação de entrada do texto */
@keyframes text-entry {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Aplica a animação quando o texto é digitado */
.row div span {
  display: inline-block;
  animation: text-entry 0.5s ease-out;
}

.cell.locked {
  background-color: var(--color-bloqueado, #605458);
  cursor: not-allowed;
  border: 0px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  margin: 5% auto;
  padding: 20px;
  border-radius: 10px;
  height: 80%;
  width: 40%; /* Could be more or less, depending on screen size */
  background-color: #312b2d;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.emBaixo {
  color: white;
}
