*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root{
    --color-fundo: #6e5c62;
    --color-normal: #4c4347;
    --color-acerto: #3aa394;
    --color-quase: #d3ad69;
}

body{
    background-color: var(--color-fundo);
}

.head {
    text-align: center;
    color: white;
    margin-bottom: 2%;
    margin-top: 1%;
    font-size: 120%;
}

.list-input-digit{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;

    & input{
        width: 4.2%;
        height: 8vh;
        background-color: var(--color-fundo);
        border: 6.5px solid var(--color-normal);
        border-radius: 8px;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 150%;
    }
}
